-- Comando SQL para actualizar el constraint de estado en Supabase (revertir a cerrado)

-- 1. Eliminar el constraint CHECK existente
ALTER TABLE actividades DROP CONSTRAINT actividades_estado_check;

-- 2. Crear el nuevo constraint CHECK con 'cerrado' (estado correcto)
ALTER TABLE actividades ADD CONSTRAINT actividades_estado_check 
CHECK (estado IN ('inactivo', 'en_espera', 'pendiente', 'cerrado'));

-- 3. Verificar que el cambio se aplicó correctamente
SELECT conname, conrelid::regclass, pg_get_constraintdef(oid) 
FROM pg_constraint 
WHERE conname = 'actividades_estado_check';
